{% layout "layout.liquid" %}
{% block content %}

<style>
    body {
        background-color: #e2d7d79f;
    }
</style>

<div>
    <form action="/user/login" method="post">
        <fieldset>
            <legend>New User</legend>
            <label>
                Username: <input type="text" name="username" required/>
            </label>
            <label>
                Password: <input type="password" name="password" required/>
            </label>
            <input type="submit" value="Login Account"/>
        </fieldset>
    </form>
</div>

{% endblock %}