{% layout "layout.liquid" %}
{% block content %}

<style>
    body {
        background-color: #e2d7d79f;
    }
</style>

<div>

<form action="/cards/{{card._id}}?_method=PUT" method="post">
    <fieldset>
        <legend>Edit {{card.name}}</legend>
            <label>
                Name: <input type="text" name="name" placeholder="enter card name" value="{{card.name}}"/>
            </label>
            <label>
                Category: <br>
                <input type="checkbox" name="skill" value="monster"> Monster Card <br>
                <input type="checkbox" name="skill" value="spell"> Spell Card <br>
                <input type="checkbox" name="skill" value="trap"> Trap Card
            </label>
            <label>
                Attribute: <input type="text" name="attribute" placeholder="enter attribute">
            </label>
            <label>
                Monster Type: <input type="text" name="Monster type" placeholder="Monster type">
            </label>
            <label>
                Card Type: <input type="text" name="card type" placeholder="card type">
            </label>
            <label>
                Card text: <textarea cols="50" rows="4"></textarea>
            </label>
    </fieldset>
    <input type="submit" value="Create new card"/>
</form>

</div>

{% endblock %}