{% layout "layout.liquid" %}
{% block content %}

<div>
    <a href="/cards/new"><button>Create a New Yugioh Card</button></a> <!-- Place button on top of loop -->
    <a href="/user/logout"><button>Logout</button></a>
    {% for card in cards %}
        <article>
            <div>
                <h2>
                    <a href="/cards/{{ card._id }}">
                    {{card.name}}
                </h2>
                <img src="{{ card.img }}" />
                </a>
            </div>
        </article>
{% endfor %}


</div>

{% endblock %}